body{
    font-family: 'Heebo', sans-serif;
    margin: 0;
}
h1{ 
    font-size: 40px;
} 
#name{
    color: red;
}
h3{
    font-size: 20px;
}
p{
    text-align: justify;
}
section{
    display: flex;
}
.one{
    padding-left: 50px;
    padding-top: 50px;
    width: 50%;
    padding-right: 50px;
}
.two img{
    padding-top: 50px;
    padding-left: 200px;
    width: 50%;
    
}
.hire{
    text-decoration: none;
    background-color: rgba(255, 68, 0, 0.781);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
.back{
    background-image: url(images/2.png);
    background-repeat: no-repeat;
    background-size: 100;
}
.background{
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right;
}